/*==== Fonts ====*/
@font-face {
  font-family: takraf3d;
  src: url(fonts/Takraf-3d.otf);
}

@font-face {
  font-family: takrafVEB;
  src: url(fonts/Takraf-VEB.otf);
}


/*===== Styles =====*/

.titleBox {
  margin-top: 20%;
  padding-top: 30px;
}

.myTitle {
  text-align: center;
  font-family: takrafVEB;
  font-size: 40px;
  color: white;
  width: 100%;
  margin: 0px auto;
  text-shadow: 4px 4px black;
}

.titleDesc {
  position: relative;
  padding-top: 30px;
  text-align: center;
  font-family: takrafVEB;
  font-size: 25px;
  color: white;
  width: 100%;
  margin: 0px auto;
  text-shadow: 3px 3px black;
}
